.body{
width:4000px;
height:auto;
marin:0px;

}
.FbHeader{
background-color:#FF6666;
height:100px;
width:inherit;
color:black;
display:flex;
}
.Right{
width:130px;
height:20px;
float:left;
font-size:12px;
margin-left:50px;
}
.Left{
width:120px;
height:20px;
float:left;
font-size:12px;
}
.Login-control-wrap{
height:20px;
width:400px;
margin-top:10px;

}
#Login-wrap
{
width:800px;
margin-left:500px;
height:82px;
display:block;
padding:7px;
}
.BtnSmall{
width:55px;
height:inherit;
background-color:grey;
color:black;
font-size:12px;
margin-left:25px;
}
.Content-wraper{
width:Inherit;
height:500px;
background-color:pink;
}
.Register-In{
width:200px;
height:30px;
color:grey;
border-radius:5px;
}
.Register-LongIn{
width:425px;
height:30px;
color:grey;
border-radius:5px;
margin-top:10px
}
select{
height:30px;
color:grey;
}