<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AccessoriesDB" 
         connectionString="Data Source=(LocalDB)\v11.0;
         AttachDbFilename=E:\C#\Acceroize\App_Data\AccessoriesMaster.mdf;
         Integrated Security=True" providerName="system.data.sqlclient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>